body {
    background-color: #121212; /* dark grey */
    color: #ADD8E6; /* Light blue */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}


.container {
    text-align: center;
    max-width: 70%;
    
}

h1 {
    margin-bottom: 20px;
    text-align: left;
    font-size: 300%;
}
h5{
    text-align: left;
    font-size: 150%;
}
p{
    font-size: 150%;
}
.rounded-image {
    border-radius: 15px;
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px #ADD8E6; /* matches light blue*/
}
.circle-image {
    margin: 10px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    box-shadow: 0 4px 8px #ADD8E6; /* matches light blue*/
    object-fit: cover;
}

.container-head {
    display: flex;
    align-items: center;
}
    .container-head h1 {
        text-align: left;
        flex-grow: 2
    }
    .container-head h5 {
        margin: 10px; /* Adjust the spacing as needed */
        font-size: 1.5em; /* Example font size */
    }

    .container-head img {
        width: 1.5em; /* Match the font size of the heading */
        height: auto; /* Maintain aspect ratio */
    }
ul {
    list-style-type: none; /* Remove default bullets */
    padding: 0;
    margin: 0;
}

    ul li {
        padding: 10px;
        margin: 5px 0;
        display: flex;
        justify-content: center
    }
.actor-row {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 20px
}

    .actor-row .text-wrapper {
        display: flex;
        grid-column: 1;
        white-space: nowrap; /* Prevents text from wrapping */
        justify-content: right;
    }

    .actor-row .pictures-wrapper {
        display: flex;
        grid-column: 2;
    }

